.button__primary {
    background-color: var(--button-primary-bg);
    border: none;
    border-radius: 0.5rem;

    padding: 0.5rem 0.5rem;
    margin-top: 3rem;

    color: var(--button-primary-text);
    font-size: 1.2rem;
    font-weight: bold;

    cursor: pointer;
}

.button__primary:hover {
    background-color: var(--button-primary-hover-bg);
}

.button__primary:disabled {
    opacity: 0.5;
}

.button__secondary {
    background-color: var(--button-secundary-bg);
    border: 0.2rem solid var(--button-secundary-border);
    border-radius: 0.5rem;

    padding: 0.5rem 0.5rem;

    color: var(--button-secundary-text);
    font-size: 1.2rem;
    font-weight: bold;

    cursor: pointer;
}

.button__secondary:hover {
    background-color: var(--button-secundary-hover-bg);
}