.icono {
    font-size: 1.5rem;
    color: var(--icon-color);
    transition: color 0.3s ease;

    cursor: pointer;
}

.router-link-active .icono {
    color: var(--icon-color-active);
}

.icono-adopt {
    font-size: 1.25rem;
    color: var(--adopt-icon-color);
}

.icono-unliked {
    color: var(--icon-unliked-color);
}

.icono-liked {
    color: var(--icon-liked-color);
}